body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
 
}
              /*--------------------- top-bar --------------------------- */
:root{
  --primar-color: #fdb822;
  --secondry-color: #684f40;
  --color: #ffffff;
  --tran: all 0.4s linear;
}
.btnb{
  height: 45px;
  width: 220px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  color: var(--secondry-color);
  background: var(--color);
  border: 2px solid var(--secondry-color);
  text-transform: uppercase;
  font-weight: bold;
}
.btnb:hover{
  background: var(--secondry-color);
  color: var(--color);
  transition: var(--tran);
}

